.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 16vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.display{
  background-color: #282c34;
  color: white;
  margin: 1rem auto;
  border-radius: 50%;
  border: 1rem solid #32363E;
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 14rem;
  justify-content: center;
  align-items: center;
}

.display-time{
  color: #61DAFB;
  font-size: 42px;
  font-weight: 600;
}

.display-date{
  color: #61DAFB;
  font-weight: 300;
}